a {
  text-decoration: none !important;
}
span{
  font-size: 13px !important;
  font-weight: 400;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input
{
  padding: 13px 14px !important;
}